<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<title>Web Development Portfolio | NoRspawn</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
		
		<!-- Favicon -->
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#2b5797">
		<meta name="theme-color" content="#ffffff">
		
		<!-- FB OG -->
		<meta property="og:image:width" content="1200">
		<meta property="og:image:height" content="628">
		<meta property="og:title" content="NoRspawn">
		<meta property="og:description" content="Web Developer Portfolio">
		<meta property="og:url" content="https://norspawn.com">
		<meta property="og:image" content="https://norspawn.com/images/og-image.jpg">
		
		<!-- CSS -->
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<!-- offcanvas -->
		<link rel="stylesheet" href="../assets/css/offcanvas.css">
		<!-- custom CSS -->
		<link rel="stylesheet" href="../assets/css/styles.css">
		
		<!-- Google fonts -->
		<link href="https://fonts.googleapis.com/css?family=Open+Sans|Staatliches" rel="stylesheet">
	</head>
		<body>
			<header id="header">
				<!-- Begin Navbar -->
				<nav class="navbar fixed-top navbar-dark transparent">
					<div class="container">
						<a class="navbar-brand" href="https://https://norespawn.netlify.com/">NoRspawn<br /><small>Web Dev Portfolio</small></a>
						<button class="navbar-toggler hamburger hamburger--collapse" type="button" data-toggle="offcanvas" 
						aria-label="Toggle navigation">
							<span class="hamburger-box">
								<span class="navbar-toggler-icon hamburger-inner"></span>
							</span>
						</button>
						
						<div class=" navbar-collapse offcanvas-collapse" id="navbar">
							
							<div class="container">
								<div class="row justify-content-center nav-link-container">
									<div class="col-md-6">
										<ul class="navbar-nav ml-auto text-md-center">
											<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
											<li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
											<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
										</ul>
									</div>
								</div>
							</div>
							
						</div>
					</div>	
				</nav>
				<!-- End Navbar -->
			</header>
			<!-- end header include -->